In [141]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.plotting import plot_decision_regions
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [142]:
df = pd.read_csv('F:/Git/deep_learning/data/Churn_Modelling.csv')

In [143]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,42,2,0.00,1,1,1,101348.88,1
1,608,41,1,83807.86,1,0,1,112542.58,0
2,502,42,8,159660.80,3,1,0,113931.57,1
3,699,39,1,0.00,2,0,0,93826.63,0
4,850,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0
9996,516,35,10,57369.61,1,1,1,101699.77,0
9997,709,36,7,0.00,1,0,1,42085.58,1
9998,772,42,3,75075.31,2,1,0,92888.52,1
9999,792,28,4,130142.79,1,1,0,38190.78,0

In [144]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [145]:
df.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Age              10000 non-null  int64
 2   Tenure           10000 non-null  int64
 3   Balance          10000 non-null  float64
 4   NumOfProducts    10000 non-null  int64
 5   HasCrCard        10000 non-null  int64
 6   IsActiveMember   10000 non-null  int64
 7   EstimatedSalary  10000 non-null  float64
 8   Exited           10000 non-null  int64
dtypes: float64(2), int64(7)
memory usage: 703.3 KB

In [147]:
df.isnull().sum()

CreditScore        0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [148]:
input_data= df.iloc[:,: -1]
output_data = df.iloc[:, -1]

In [149]:
input_data

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,42,2,0.00,1,1,1,101348.88
1,608,41,1,83807.86,1,0,1,112542.58
2,502,42,8,159660.80,3,1,0,113931.57
3,699,39,1,0.00,2,0,0,93826.63
4,850,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64
9996,516,35,10,57369.61,1,1,1,101699.77
9997,709,36,7,0.00,1,0,1,42085.58
9998,772,42,3,75075.31,2,1,0,92888.52
9999,792,28,4,130142.79,1,1,0,38190.78

In [150]:
from sklearn.preprocessing import StandardScaler

In [151]:
ss = StandardScaler()
input_data=pd.DataFrame(ss.fit_transform(input_data),columns=input_data.columns)

In [152]:
input_data

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.021886
1,-0.440036,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,0.216534
2,-1.536794,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.240687
3,0.501521,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,-0.108918
4,2.063884,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-0.365276
...,...,...,...,...,...,...,...,...
9995,1.246488,0.007457,-0.004426,-1.225848,0.807737,0.646092,-1.030670,-0.066419
9996,-1.391939,-0.373958,1.724464,-0.306379,-0.911583,0.646092,0.970243,0.027988
9997,0.604988,-0.278604,0.687130,-1.225848,-0.911583,-1.547768,0.970243,-1.008643
9998,1.256835,0.293517,-0.695982,-0.022608,0.807737,0.646092,-1.030670,-0.125231
9999,1.463771,-1.041433,-0.350204,0.859965,-0.911583,0.646092,-1.030670,-1.076370

In [153]:
input_data.shape

(10000, 8)

In [154]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2, random_state=42)

In [155]:
import tensorflow

In [156]:
from keras.layers import Dense
from keras.models import Sequential

In [157]:
ann = Sequential()

In [158]:
ann.add(Dense(6,input_dim =8, activation='relu'))
ann.add(Dense(4, activation='relu'))
ann.add(Dense(2, activation='relu'))
ann.add(Dense(1, activation='sigmoid'))

In [159]:
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [160]:
ann.fit(x_train, y_train, batch_size=100, epochs=100)

Epoch 1/100
80/80 [==============================] - 1s 1ms/step - loss: 0.7311 - accuracy: 0.6405
Epoch 2/100
80/80 [==============================] - 0s 1ms/step - loss: 0.6653 - accuracy: 0.7729
Epoch 3/100
80/80 [==============================] - 0s 1ms/step - loss: 0.6429 - accuracy: 0.7983
Epoch 4/100
80/80 [==============================] - 0s 1ms/step - loss: 0.6254 - accuracy: 0.7993
Epoch 5/100
80/80 [==============================] - 0s 1ms/step - loss: 0.6096 - accuracy: 0.8009
Epoch 6/100
80/80 [==============================] - 0s 1ms/step - loss: 0.5950 - accuracy: 0.8009
Epoch 7/100
80/80 [==============================] - 0s 1ms/step - loss: 0.5815 - accuracy: 0.8019
Epoch 8/100
80/80 [==============================] - 0s 1ms/step - loss: 0.5685 - accuracy: 0.8048
Epoch 9/100
80/80 [==============================] - 0s 1ms/step - loss: 0.5561 - accuracy: 0.8101
Epoch 10/100
80/80 [==============================] - 0s 1ms/step - loss: 0.5441 - accuracy: 0.8139
Epoch 11/100
80/80 [==============================] - 0s 1ms/step - loss: 0.5325 - accuracy: 0.8174
Epoch 12/100
80/80 [==============================] - 0s 1ms/step - loss: 0.5214 - accuracy: 0.8195
Epoch 13/100
80/80 [==============================] - 0s 1ms/step - loss: 0.5113 - accuracy: 0.8229
Epoch 14/100
80/80 [==============================] - 0s 1ms/step - loss: 0.5025 - accuracy: 0.8256
Epoch 15/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4946 - accuracy: 0.8265
Epoch 16/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4872 - accuracy: 0.8273
Epoch 17/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4805 - accuracy: 0.8292
Epoch 18/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4746 - accuracy: 0.8292
Epoch 19/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4695 - accuracy: 0.8299
Epoch 20/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4650 - accuracy: 0.8299
Epoch 21/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4610 - accuracy: 0.8300
Epoch 22/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4572 - accuracy: 0.8314
Epoch 23/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4535 - accuracy: 0.8316
Epoch 24/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4505 - accuracy: 0.8321
Epoch 25/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4478 - accuracy: 0.8325
Epoch 26/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4449 - accuracy: 0.8329
Epoch 27/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4421 - accuracy: 0.8331
Epoch 28/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4385 - accuracy: 0.8342
Epoch 29/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4333 - accuracy: 0.8342
Epoch 30/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4280 - accuracy: 0.8370
Epoch 31/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4228 - accuracy: 0.8372
Epoch 32/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4176 - accuracy: 0.8407
Epoch 33/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4119 - accuracy: 0.8446
Epoch 34/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4063 - accuracy: 0.8453
Epoch 35/100
80/80 [==============================] - 0s 1ms/step - loss: 0.4006 - accuracy: 0.8491
Epoch 36/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3953 - accuracy: 0.8500
Epoch 37/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3906 - accuracy: 0.8521
Epoch 38/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3869 - accuracy: 0.8524
Epoch 39/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3839 - accuracy: 0.8530
Epoch 40/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3817 - accuracy: 0.8541
Epoch 41/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3792 - accuracy: 0.8545
Epoch 42/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3774 - accuracy: 0.8550
Epoch 43/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3758 - accuracy: 0.8549
Epoch 44/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3741 - accuracy: 0.8555
Epoch 45/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3727 - accuracy: 0.8559
Epoch 46/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3719 - accuracy: 0.8553
Epoch 47/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3705 - accuracy: 0.8560
Epoch 48/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3696 - accuracy: 0.8568
Epoch 49/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3687 - accuracy: 0.8564
Epoch 50/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3678 - accuracy: 0.8568
Epoch 51/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3671 - accuracy: 0.8561
Epoch 52/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3663 - accuracy: 0.8560
Epoch 53/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3658 - accuracy: 0.8547
Epoch 54/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3648 - accuracy: 0.8551
Epoch 55/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3640 - accuracy: 0.8560
Epoch 56/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3636 - accuracy: 0.8564
Epoch 57/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3632 - accuracy: 0.8564
Epoch 58/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3623 - accuracy: 0.8564
Epoch 59/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3618 - accuracy: 0.8571
Epoch 60/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3612 - accuracy: 0.8575
Epoch 61/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3606 - accuracy: 0.8577
Epoch 62/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3603 - accuracy: 0.8572
Epoch 63/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3599 - accuracy: 0.8566
Epoch 64/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3597 - accuracy: 0.8566
Epoch 65/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3593 - accuracy: 0.8559
Epoch 66/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3590 - accuracy: 0.8570
Epoch 67/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3585 - accuracy: 0.8569
Epoch 68/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3580 - accuracy: 0.8574
Epoch 69/100
80/80 [==============================] - 0s 2ms/step - loss: 0.3581 - accuracy: 0.8568
Epoch 70/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3575 - accuracy: 0.8568
Epoch 71/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3573 - accuracy: 0.8576
Epoch 72/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3569 - accuracy: 0.8574
Epoch 73/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3566 - accuracy: 0.8576
Epoch 74/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3566 - accuracy: 0.8574
Epoch 75/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3560 - accuracy: 0.8577
Epoch 76/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3561 - accuracy: 0.8566
Epoch 77/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3559 - accuracy: 0.8568
Epoch 78/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3554 - accuracy: 0.8571
Epoch 79/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3553 - accuracy: 0.8569
Epoch 80/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3553 - accuracy: 0.8571
Epoch 81/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3551 - accuracy: 0.8572
Epoch 82/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3548 - accuracy: 0.8575
Epoch 83/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3545 - accuracy: 0.8580
Epoch 84/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3544 - accuracy: 0.8568
Epoch 85/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3545 - accuracy: 0.8568
Epoch 86/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3543 - accuracy: 0.8570
Epoch 87/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3542 - accuracy: 0.8560
Epoch 88/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3539 - accuracy: 0.8572
Epoch 89/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3539 - accuracy: 0.8562
Epoch 90/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3535 - accuracy: 0.8566
Epoch 91/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3535 - accuracy: 0.8579
Epoch 92/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3536 - accuracy: 0.8571
Epoch 93/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3531 - accuracy: 0.8565
Epoch 94/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3532 - accuracy: 0.8584
Epoch 95/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3533 - accuracy: 0.8558
Epoch 96/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3529 - accuracy: 0.8558
Epoch 97/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3532 - accuracy: 0.8554
Epoch 98/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3531 - accuracy: 0.8571
Epoch 99/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3527 - accuracy: 0.8570
Epoch 100/100
80/80 [==============================] - 0s 1ms/step - loss: 0.3526 - accuracy: 0.8561

In [161]:
prd1 =ann.predict(x_train)

250/250 [==============================] - 0s 952us/step

In [162]:
prddata1=[]
for i in prd1:
    if i > 0.5:
        prddata1.append(1)
    else:
        prddata1.append(0)

In [168]:
accuracy_score(y_train, prddata1)*100

85.675

In [165]:
prd =ann.predict(x_test)
prd_data=[]
for i in prd:
    if i > 0.5:
        prd_data.append(1)
    else:
        prd_data.append(0)

63/63 [==============================] - 0s 1ms/step

In [166]:
accuracy_score(y_train,prd_data1)

0.858375

In [167]:
accuracy_score(y_test, prd_data)*100

85.65

In [169]:
confusion_matrix(y_test, prd_data)

array([[1547,   60],
       [ 227,  166]], dtype=int64)

In [173]:
print(classification_report(y_test, prd_data))

              precision    recall  f1-score   support

           0       0.87      0.96      0.92      1607
           1       0.73      0.42      0.54       393

    accuracy                           0.86      2000
   macro avg       0.80      0.69      0.73      2000
weighted avg       0.85      0.86      0.84      2000

In [174]:
x_test

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
6252,-0.564197,-0.660018,-0.695982,0.324119,0.807737,-1.547768,-1.030670,-1.013811
4684,-0.284834,0.388871,-1.387538,-1.225848,0.807737,0.646092,0.970243,0.804921
1731,-0.512463,0.484225,-0.350204,-1.225848,0.807737,0.646092,-1.030670,-0.722147
4742,-1.495407,1.914528,1.032908,0.683816,0.807737,0.646092,0.970243,1.227481
4521,-0.936681,-1.136786,0.687130,0.777477,-0.911583,0.646092,0.970243,0.253524
...,...,...,...,...,...,...,...,...
6412,-0.502117,1.342407,-0.004426,0.349118,-0.911583,-1.547768,0.970243,-0.957298
8285,-0.429689,-1.327494,1.724464,-1.225848,-0.911583,-1.547768,0.970243,0.170498
7853,0.822271,0.770285,0.687130,-1.225848,-0.911583,0.646092,-1.030670,-1.160142
1095,0.429093,-0.946079,-0.350204,-1.225848,-0.911583,0.646092,-1.030670,-0.405759
6929,-0.233100,0.007457,-1.387538,0.622738,-0.911583,0.646092,0.970243,0.131879

In [176]:
prd =ann.predict([[-0.564197,-0.660018,-0.695982,0.324119,0.807737,-1.547768,-1.030670,-1.013811]])
prd_data=[]
for i in prd:
    if i > 0.5:
        prd_data.append(1)
    else:
        prd_data.append(0)
prd_data

1/1 [==============================] - 0s 42ms/step

[0]

In [177]:
y_test

6252    0
4684    0
1731    0
4742    0
4521    0
       ..
6412    1
8285    0
7853    1
1095    1
6929    1
Name: Exited, Length: 2000, dtype: int64